<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediksi Cuaca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='bumi.png') }}">
    <script>
        async function predictWeather() {
            const suhu = document.getElementById('suhu').value;
            const kelembapan = document.getElementById('kelembapan').value;
            const kecepatan_angin = document.getElementById('kecepatan_angin').value;

            const response = await fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    features: [parseFloat(suhu), parseFloat(kelembapan), parseFloat(kecepatan_angin)]
                })
            });

            const result = await response.json();
            const predictionText = `Cuaca: ${result.prediction}`;
            const iconSrc = result.prediction === 'Cerah' ? '/static/sunny.png' :
                            result.prediction === 'Berawan' ? '/static/cloudi.png' :
                            result.prediction === 'Hujan Kecil' ? '/static/rainmin.png' :
                            '/static/rainmax.png';

            document.getElementById('result').innerText = predictionText;
            const weatherIcon = document.getElementById('weather-icon');
            weatherIcon.src = iconSrc;
            weatherIcon.style.display = 'block';
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Prediksi Cuaca</h1>
        <label for="suhu">Suhu:</label>
        <select id="suhu">
            <option value="0">Rendah</option>
            <option value="1">Sedang</option>
            <option value="2">Tinggi</option>
        </select>

        <label for="kelembapan">Kelembapan:</label>
        <select id="kelembapan">
            <option value="0">Rendah</option>
            <option value="1">Sedang</option>
            <option value="2">Tinggi</option>
        </select>

        <label for="kecepatan_angin">Kecepatan Angin:</label>
        <select id="kecepatan_angin">
            <option value="0">Rendah</option>
            <option value="1">Sedang</option>
            <option value="2">Tinggi</option>
        </select>

        <button onclick="predictWeather()">Prediksi</button>
        <p id="result"></p>
        <img id="weather-icon" alt="Weather Icon" style="display: none;">
    </div>
</body>
</html>
